.input-file {
    display: none;
}

.input-file + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: rgb(167, 157, 157);
    display: inline-block;
    border-radius: 7px;
    padding: 9px;
}

.input-file:focus + label,
.input-file + label:hover {
    background-color: dimgrey;
}

.ql-editor {
    min-height: 18em;
}

#article-image {
    display: none;
}

.capitalize {
    text-transform: capitalize !important;
}
