.not-found-wrapper a {
    color: rgb(69, 241, 184);
}

video {
    width: 100%;
    height: auto;
}

.not-found-header {
    object-fit: fill;
    position: relative;
    background-color: rgb(54, 52, 52);
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.not-found-header video {
    object-fit: fill;
}
.jumbotron {
    border-radius: 7px;
    margin-bottom: 0;
}

.not-found-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(61, 58, 58);
    opacity: 0.5;
    z-index: 1;
}
