.img-fluid {
    width: 180px;
    height: 180px;
}
.container-all {
    padding-top: 30px;
}
.pencil,
.circle {
    font-size: 20px;
}

.close-modal {
    color: rgb(209, 88, 88);
    font-size: 15px;
}
.modal-content {
    padding: 0.7em;
}
