.img-fluid {
  width: 180px;
  height: 180px;
}

.pencil,
.circle {
  font-size: 20px;
}

.close-modal {
  color: rgb(209, 88, 88);
  font-size: 15px;
}
.modal-content {
  padding: 0.7em;
}

@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.lds-rolling {
  position: relative;
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 126px;
  height: 126px;
  border: 6px solid #93dbe9;
  border-top-color: transparent;
  border-radius: 50%;
}
.lds-rolling div {
  -webkit-animation: lds-rolling 1.9s linear infinite;
  animation: lds-rolling 1.9s linear infinite;
  top: 100px;
  left: 100px;
}
.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lds-rolling {
  width: 498px !important;
  height: 85px !important;
  -webkit-transform: translate(-42.5px, -42.5px) scale(0.425)
    translate(42.5px, 42.5px);
  transform: translate(-42.5px, -42.5px) scale(0.425) translate(42.5px, 42.5px);
}
